<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Interact To Earn</title>
    <base href="/" />
  </head>
  <body>
    <h1>This is the Interact To Earn program</h1>
    <div id="root"></div>
  </body>
</html>